<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a ui-sref="home" class="navbar-brand">Awesome chat</a>
		</div>
		<ul class="nav navbar-nav">
		    <li ui-sref-active="active">
		        <a ui-sref="home">Home</a>
		    </li>
		    <li ui-sref-active="active" ng-hide="$root.userLogged">
		        <a ui-sref="register">Register</a>
		    </li>
		    <li ui-sref-active="active">
		        <a ui-sref="about">About us</a>
		    </li>
		</ul>
	</div>
</div>