<div ng-controller="MainCtrl" >
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-10">
				<form class="form" role="login">
				    <div class="form-group">
				    	<input type="text" class="form-control" placeholder="Username">
				    	<input type="password" class="form-control" placeholder="Password">
				 	</div>
				  	<button type="submit" class="btn btn-default">Sign in</button>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			N-ai cont? Fa-ti unul! (Aici va fi campul de register)
		</div>
	</div>
</div>