<div class="container">
	<div class="page-header">
		<h1>Welcome!</h1>
	</div>
	<div class="well bs-component">
		<p class="text-center">Please sign in or make an account!</p>
		<form class="form-horizontal " role="login" ng-submit="homeCtrl.login(account)">
		    <div class="form-group">
		    	<label for="inputUsername1" class="col-sm-2 control-label">Username</label>
	    		<div class="col-sm-10">
		    		<input type="text" class="form-control" ng-model="account.name" id="inputUsername1" placeholder="Username">
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label for="inputPassword1" class="col-sm-2 control-label">Password</label>
	    		<div class="col-sm-10">
		    		<input type="password" class="form-control" ng-model="account.pass" id="inputPassword1" placeholder="Password">
		    	</div>
		 	</div>
		 	<div class="form-group">
	 			<div class="col-sm-offset-2 col-sm-10">
		  			<button type="submit" class="btn btn-primary">Sign in</button>
		  		</div>
		  	</div>
		  	<div class="form-group">
	 			<div class="col-sm-10">
	 				<p>If you don't have an account, please 
						<a ui-sref="register">click here to register</a>
					</p>
				</div>
			</div>
		</form>
	</div>	
</div>