<div class="container-fluid">
	<div class="page-header">
		<h1>Chat Room</h1>
	</div>
	<div class="col-lg-12">
		<div class="well bs-component">
			<h3>Welcome {{$root.user.name}}!</h3>
			<p>Choose your partner! Click on him and start chating!</p>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="well bs-component">
			<h4>Online users: </h4>
            <div ng-repeat="user in $root.usersList" ng-if="user.name != $root.user.name">
                <a ng-show="user.isLoggedIn" class="chatOnline" ui-sref="userPanel.chatbox({username:user.name})">{{user.name}}</a>
            </div>
            <hr>
            <h4>Offline users: </h4>
            <div ng-repeat="user in $root.usersList">
                <a ng-hide="user.isLoggedIn" class="chatOffline" ui-sref="userPanel.chatbox({username:user.name})">{{user.name}}</a>
            </div>
            <hr>
			<button type="submit" class="btn btn-primary" ng-click="userCtrl.logout()">Logoff</button>
		</div>	
	</div>
	<div class="col-lg-7">
		<div class="well bs-component">
			<section ui-view></section>
		</div>
	</div>
</div>